<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block mb-1 font-medium">Customer email:</strong>
    <%= order.customer_email %>
  </p>
  <p class="my-5">
    <strong class="block mb-1 font-medium">Fulfilled:</strong>
    <%= order.fulfilled %>
  </p>
  <p class="my-5">
    <strong class="block mb-1 font-medium">Total:</strong>
    <%= order.total %>
  </p>
  <p class="my-5">
    <strong class="block mb-1 font-medium">Address:</strong>
    <%= order.address %>
  </p>
  <% if order.order_products.any? %>
    <strong class="block mb-1 font-medium">Products:</strong>
    <% order.order_products.each do |op| %>
      <%= op.product.name %>
      <%= op.size %>
      <%= op.quantity %>
    <% end %>
  <% end %>
</div>
