<div class="w-full">
  <% if notice.present? %>
    <p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 rounded-lg bg-green-50" id="notice"><%= notice %></p>
  <% end %>
  <% content_for :title, "Products" %>
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">Products</h1>
    <%= link_to "New product", new_admin_product_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div id="admin_products" class="flex flex-col w-full">
    <div class="overflow-x-auto sm:mx-0 5 lg:mx-0">
      <div class="inline-block min-w-full py-2">
        <div class="overflow-x-auto">
          <table class="min-w-full overflow-x-scroll">
            <thead class="bg-white border-b">
              <tr>
                <th scope="col" class="px-6 py-4 text-sm font-medium text-left text-gray-800">
                </th>
                <th scope="col" class="px-6 py-4 text-sm font-medium text-left text-gray-800">
                  Name
                </th>
                <th scope="col" class="px-6 py-4 text-sm font-medium text-left text-gray-800">
                  Description
                </th>
                <th scope="col" class="px-6 py-4 text-sm font-medium text-left text-gray-800">
                  Price
                </th>
              </tr>
            </thead>
            <tbody>
              <% @admin_products.each do |p| %>
                <tr class="border-b bg-gray-50">
                  <td class="px-6 py-4 text-sm font-medium text-gray-800 underline whitespace-nowrap">
                    <%= p.images.any? ? image_tag(p.images.first.variant(:thumb)) : image_tag("https://placehold.co/50") %>
                  </td>
                  <td class="px-6 py-4 text-sm font-medium text-gray-800 underline whitespace-nowrap">
                    <%= link_to p.name, edit_admin_product_path(p) %>
                  </td>
                  <td class="px-6 py-4 text-sm font-medium text-gray-800 whitespace-nowrap">
                    <%= p.description %>
                  </td>
                  <td class="px-6 py-4 text-sm font-medium text-gray-800 whitespace-nowrap">
                    $<%= (p.price/100.0).to_s %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
